{
  "openapi": "3.1.0",
  "info": {
    "title": "Turbo Notify Public API",
    "description": "Turbo Notify Public API for WhatsApp messaging",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.turbonotify.com"
    }
  ],
  "paths": {
    "/v1/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List Events",
        "operationId": "list_events_v1_events_get",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by exact event type",
              "title": "Type"
            },
            "description": "Filter by exact event type"
          },
          {
            "name": "types[]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 20
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by multiple event types",
              "title": "Types[]"
            },
            "description": "Filter by multiple event types"
          },
          {
            "name": "request_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by request ID",
              "title": "Request Id"
            },
            "description": "Filter by request ID"
          },
          {
            "name": "number_alias",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by number handle (``\"main\"`` or an extra number alias). Restricts results to events belonging to this specific number. The only organization-wide events without a ``number_alias`` are ``storage.*``; those are excluded when this filter is active.",
              "title": "Number Alias"
            },
            "description": "Filter by number handle (``\"main\"`` or an extra number alias). Restricts results to events belonging to this specific number. The only organization-wide events without a ``number_alias`` are ``storage.*``; those are excluded when this filter is active."
          },
          {
            "name": "created[gte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Events created at or after this time",
              "title": "Created[Gte]"
            },
            "description": "Events created at or after this time"
          },
          {
            "name": "created[lte]",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Events created at or before this time",
              "title": "Created[Lte]"
            },
            "description": "Events created at or before this time"
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for forward pagination (event ID)",
              "title": "Starting After"
            },
            "description": "Cursor for forward pagination (event ID)"
          },
          {
            "name": "ending_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for backward pagination (event ID)",
              "title": "Ending Before"
            },
            "description": "Cursor for backward pagination (event ID)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of events to return",
              "default": 25,
              "title": "Limit"
            },
            "description": "Number of events to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEventsResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List Messages Flat",
        "description": "List messages for the main number inbox (cursor-paginated, newest first).",
        "operationId": "list_messages_flat_v1_messages_get",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageListResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send Message Flat",
        "description": "Send a message from the main number.",
        "operationId": "send_message_flat_v1_messages_post",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/quota": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message Quota Flat",
        "description": "Return the message quota state for the main number.",
        "operationId": "get_message_quota_flat_v1_messages_quota_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageQuotaResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/{message_id}/reply": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Reply To Message Flat",
        "description": "Reply to a message from the main number.\n\nThe recipient is inferred from the original message direction:\n- Outbound original → reply goes to the same contact / group.\n- Inbound original → reply goes to the sender.",
        "operationId": "reply_to_message_flat_v1_messages__message_id__reply_post",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/{message_id}/react": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "React To Message Flat",
        "description": "Add or remove a reaction on a message via the main number.\n\nThe message must belong to the main number.",
        "operationId": "react_to_message_flat_v1_messages__message_id__react_post",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendReactionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendReactionResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/{message_id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message Details Flat",
        "description": "Retrieve the details of a message of the main number.",
        "operationId": "get_message_details_flat_v1_messages__message_id__get",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageDetailsResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/{message_id}/status": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message Status Flat",
        "description": "Get the delivery status of a message of the main number.",
        "operationId": "get_message_status_flat_v1_messages__message_id__status_get",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/{message_id}/reactions": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message Reactions Flat",
        "description": "List the reactions to a message of the main number.",
        "operationId": "get_message_reactions_flat_v1_messages__message_id__reactions_get",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageReactionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/{message_id}/receipts": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message Receipts Flat",
        "description": "List the delivery receipts of a message of the main number.",
        "operationId": "get_message_receipts_flat_v1_messages__message_id__receipts_get",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageReceiptsResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/{message_id}/edit": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Edit Message Flat",
        "description": "Edit a message sent from the main number.",
        "operationId": "edit_message_flat_v1_messages__message_id__edit_post",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/{message_id}/delete": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Delete Message Flat",
        "description": "Delete a message sent from the main number.",
        "operationId": "delete_message_flat_v1_messages__message_id__delete_post",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages/read": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Mark As Read Flat",
        "description": "Mark a chat's (or WhatsApp Group's) unread inbound backlog as read\nfrom the main number.",
        "operationId": "mark_as_read_flat_v1_messages_read_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAsReadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkAsReadResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/typing-indicator": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send Typing Indicator Flat",
        "description": "Send a typing indicator from the main number.",
        "operationId": "send_typing_indicator_flat_v1_typing_indicator_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTypingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendTypingResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List Contacts Flat",
        "description": "List contacts for the main number inbox.",
        "operationId": "list_contacts_flat_v1_contacts_get",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Phone"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ContactSource"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only contacts with this origin: `inbound` (the first message came from them), `outbound` (the first message went to them), `mention` (first seen in a mention) or `self` (one of your own numbers). Any other value is rejected with 422.",
              "title": "Source"
            },
            "description": "Only contacts with this origin: `inbound` (the first message came from them), `outbound` (the first message went to them), `mention` (first seen in a mention) or `self` (one of your own numbers). Any other value is rejected with 422."
          },
          {
            "name": "contacted_in_cycle",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "When true, only the contacts messaged through Turbo Notify in the main number's current billing cycle: the same contacts the contact quota's `used` counts. The count follows the billing cycle, not a rolling window.",
              "title": "Contacted In Cycle"
            },
            "description": "When true, only the contacts messaged through Turbo Notify in the main number's current billing cycle: the same contacts the contact quota's `used` counts. The count follows the billing cycle, not a rolling window."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/contacts/quota": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Contact Quota Flat",
        "description": "Return the contact quota state for the main number.",
        "operationId": "get_contact_quota_flat_v1_contacts_quota_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactQuotaResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/contacts/{contact_id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Contact Flat",
        "description": "Retrieve a single contact of the main number.",
        "operationId": "get_contact_flat_v1_contacts__contact_id__get",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public contact identifier (ct_ + 32 hex chars)",
              "examples": [
                "ct_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Contact Id"
            },
            "description": "Public contact identifier (ct_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/contacts/{contact_id}/profile-picture": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Contact Profile Picture Flat",
        "description": "Resolve the profile picture for a contact in the main number inbox.",
        "operationId": "get_contact_profile_picture_flat_v1_contacts__contact_id__profile_picture_get",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public contact identifier (ct_ + 32 hex chars)",
              "examples": [
                "ct_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Contact Id"
            },
            "description": "Public contact identifier (ct_ + 32 hex chars)"
          }
        ],
        "responses": {
          "302": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/contacts/{contact_id}/refresh": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Refresh Contact Flat",
        "description": "Queue a metadata refresh for a contact in the main number inbox.",
        "operationId": "refresh_contact_flat_v1_contacts__contact_id__refresh_post",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public contact identifier (ct_ + 32 hex chars)",
              "examples": [
                "ct_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Contact Id"
            },
            "description": "Public contact identifier (ct_ + 32 hex chars)"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List Groups Flat",
        "description": "List groups for the main number inbox.",
        "operationId": "list_groups_flat_v1_groups_get",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 100
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "include_left",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Left"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/groups/{group_id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Group Flat",
        "description": "Retrieve a single group of the main number.",
        "operationId": "get_group_flat_v1_groups__group_id__get",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public group identifier (grp_ + 32 hex chars)",
              "examples": [
                "grp_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Group Id"
            },
            "description": "Public group identifier (grp_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/groups/{group_id}/picture": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Group Picture Flat",
        "description": "Resolve the profile picture of a group of the main number.",
        "operationId": "get_group_picture_flat_v1_groups__group_id__picture_get",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public group identifier (grp_ + 32 hex chars)",
              "examples": [
                "grp_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Group Id"
            },
            "description": "Public group identifier (grp_ + 32 hex chars)"
          }
        ],
        "responses": {
          "302": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers": {
      "get": {
        "tags": [
          "Numbers"
        ],
        "summary": "List Numbers",
        "description": "List the numbers of your account: the main number first, then the extra numbers.\n\nFilter with `status` and `external_id`; both can be combined.",
        "operationId": "list_numbers_v1_numbers_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PublicNumberStatus"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only numbers currently in this status, for example `disconnected` to find the numbers that need attention.",
              "title": "Status"
            },
            "description": "Only numbers currently in this status, for example `disconnected` to find the numbers that need attention."
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only the number with exactly this `external_id` (your own identifier for it). Returns an empty list when no number has it.",
              "title": "External Id"
            },
            "description": "Only the number with exactly this `external_id` (your own identifier for it). Returns an empty list when no number has it."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExtraNumbersResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Add Extra Number",
        "description": "Add an extra number to the organization.\n\nAdding a number charges its activation to your payment method right away.\nAdditions are limited per organization over a rolling hour: past the\nlimit the request answers 429 `number_creation_rate_limited`, and the\n`Retry-After` header says how many seconds to wait.",
        "operationId": "add_extra_number_v1_numbers_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddExtraNumberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddExtraNumberResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/main": {
      "get": {
        "tags": [
          "Numbers"
        ],
        "summary": "Get Main Number",
        "operationId": "get_main_number_v1_numbers_main_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMainNumberResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Numbers"
        ],
        "summary": "Update Main Number",
        "description": "Set, change or remove the `external_id` of your main number.\n\nThe main number keeps the alias `main` and has no description, so\n`external_id` is the only field accepted here.",
        "operationId": "update_main_number_v1_numbers_main_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExtraNumberRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExtraNumberResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}": {
      "get": {
        "tags": [
          "Numbers"
        ],
        "summary": "Get Number Status",
        "operationId": "get_number_status_v1_numbers__alias__get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExtraNumberStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Numbers"
        ],
        "summary": "Update Extra Number",
        "description": "Change the alias, the description or the `external_id` of an extra number.",
        "operationId": "update_extra_number_v1_numbers__alias__patch",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExtraNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExtraNumberResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Numbers"
        ],
        "summary": "Remove Extra Number",
        "description": "Remove an extra number.\n\nThe number must be disconnected first. Depending on how it was used, the\nnumber is either removed right away with its activation charge refunded,\nor its removal is scheduled for the end of the period already paid (it\nkeeps working until then and there is no refund). The response says which\nof the two happened.",
        "operationId": "remove_extra_number_v1_numbers__alias__delete",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleExtraNumberDeletionResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/main/connect": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Connect Main Number",
        "operationId": "connect_main_number_v1_numbers_main_connect_post",
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainNumberActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/main/disconnect": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Disconnect Main Number",
        "operationId": "disconnect_main_number_v1_numbers_main_disconnect_post",
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainNumberActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/pair": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Pair Extra Number",
        "operationId": "pair_extra_number_v1_numbers__alias__pair_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/PairExtraNumberRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PairExtraNumberResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/cancel-pairing": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Cancel Extra Number Pairing",
        "operationId": "cancel_extra_number_pairing_v1_numbers__alias__cancel_pairing_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelExtraNumberPairingResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/connect": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Connect Extra Number",
        "operationId": "connect_extra_number_v1_numbers__alias__connect_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeExtraNumberStateResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/disconnect": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Disconnect Extra Number",
        "operationId": "disconnect_extra_number_v1_numbers__alias__disconnect_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeExtraNumberStateResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/cancel-deletion": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Cancel Extra Number Deletion",
        "operationId": "cancel_extra_number_deletion_v1_numbers__alias__cancel_deletion_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelExtraNumberDeletionResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages": {
      "get": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "List Messages",
        "description": "List messages for the inbox identified by ``alias`` (cursor-paginated, newest first).",
        "operationId": "list_messages_v1_numbers__alias__messages_get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageListResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Send Message",
        "description": "Send a message from the number identified by ``alias`` (``main`` or an extra alias).",
        "operationId": "send_message_v1_numbers__alias__messages_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/quota": {
      "get": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Get Message Quota Nested",
        "description": "Return the message quota state for the inbox identified by ``{alias}``.",
        "operationId": "get_message_quota_nested_v1_numbers__alias__messages_quota_get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageQuotaResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/{message_id}/reply": {
      "post": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Reply To Message",
        "description": "Reply to a message from the number identified by ``alias``.\n\nThe recipient is inferred from the original message direction:\n- Outbound original → reply goes to the same contact / group.\n- Inbound original → reply goes to the sender.",
        "operationId": "reply_to_message_v1_numbers__alias__messages__message_id__reply_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/{message_id}/react": {
      "post": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "React To Message",
        "description": "Add or remove a reaction from the number identified by ``alias``.\n\nThe target message must belong to the inbox identified by ``alias``; one\nthat belongs to a different number responds identically to one that does\nnot exist.",
        "operationId": "react_to_message_v1_numbers__alias__messages__message_id__react_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendReactionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendReactionResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/{message_id}": {
      "get": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Get Message Details",
        "description": "Retrieve the full details of a message by its public ``msg_{hex}`` id.\n\nThe message must belong to the inbox identified by ``alias``; one that\nbelongs to a different number responds identically to one that does not\nexist, so a caller cannot enumerate messages from another number by\nguessing IDs.",
        "operationId": "get_message_details_v1_numbers__alias__messages__message_id__get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageDetailsResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/{message_id}/status": {
      "get": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Get Message Status",
        "description": "Get delivery status for a sent message by its public message_id.",
        "operationId": "get_message_status_v1_numbers__alias__messages__message_id__status_get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/{message_id}/reactions": {
      "get": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Get Message Reactions",
        "description": "List all active reactions to a message.",
        "operationId": "get_message_reactions_v1_numbers__alias__messages__message_id__reactions_get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageReactionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/{message_id}/receipts": {
      "get": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Get Message Receipts",
        "description": "List delivery receipt history for a message (status transitions, ASC).",
        "operationId": "get_message_receipts_v1_numbers__alias__messages__message_id__receipts_get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageReceiptsResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/{message_id}/edit": {
      "post": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Edit Message",
        "description": "Edit a previously sent message by its public ``msg_{hex32}`` id.",
        "operationId": "edit_message_v1_numbers__alias__messages__message_id__edit_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/{message_id}/delete": {
      "post": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Delete Message",
        "description": "Delete (revoke) a previously sent message by its public ``msg_{hex32}`` id.",
        "operationId": "delete_message_v1_numbers__alias__messages__message_id__delete_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public message identifier (msg_ + 32 hex chars)",
              "examples": [
                "msg_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Message Id"
            },
            "description": "Public message identifier (msg_ + 32 hex chars)"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/typing-indicator": {
      "post": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Send Typing Indicator",
        "description": "Send a typing indicator from the number identified by ``alias``.\n\nThe sender is the number in the URL ``alias``. The ``from`` body field\nis not required, and when supplied it is ignored (the URL always wins).\n\nWith ``is_typing`` true, the number first appears online and the unread\nmessages it received in that conversation are marked as read, then after\na short random pause (between 0.3 and 1.5 seconds) the typing indicator shows,\nso it never shows over unread messages. With ``is_typing`` false only\nthe indicator is cleared and nothing is read.",
        "operationId": "send_typing_indicator_v1_numbers__alias__typing_indicator_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTypingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendTypingResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/messages/read": {
      "post": {
        "tags": [
          "Numbers",
          "Messages"
        ],
        "summary": "Mark As Read",
        "description": "Mark a chat's (or WhatsApp Group's) unread inbound backlog as read\nfrom the number identified by ``alias``, independent of the\nautomatic mark-as-read that already accompanies send, reply, react,\nedit, delete and the start of the typing indicator (the number also\nappears online first, and goes back offline by itself a few minutes\nafter its last interaction). Useful for\na customer's own client that wants inbox parity (e.g. an unread\nbadge cleared by the user) without sending any WhatsApp message.\n\nThe sender is inferred from the URL ``alias``; there is no ``from``\nbody field.",
        "operationId": "mark_as_read_v1_numbers__alias__messages_read_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAsReadRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkAsReadResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/contacts": {
      "get": {
        "tags": [
          "Numbers",
          "Contacts"
        ],
        "summary": "List Contacts Nested",
        "description": "Return a cursor-paginated list of contacts for the inbox ``{alias}``.",
        "operationId": "list_contacts_nested_v1_numbers__alias__contacts_get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Phone"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ContactSource"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only contacts with this origin: `inbound` (the first message came from them), `outbound` (the first message went to them), `mention` (first seen in a mention) or `self` (one of your own numbers). Any other value is rejected with 422.",
              "title": "Source"
            },
            "description": "Only contacts with this origin: `inbound` (the first message came from them), `outbound` (the first message went to them), `mention` (first seen in a mention) or `self` (one of your own numbers). Any other value is rejected with 422."
          },
          {
            "name": "contacted_in_cycle",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "When true, only the contacts messaged through Turbo Notify in this number's current billing cycle: the same contacts the contact quota's `used` counts. The count follows the billing cycle, not a rolling window.",
              "title": "Contacted In Cycle"
            },
            "description": "When true, only the contacts messaged through Turbo Notify in this number's current billing cycle: the same contacts the contact quota's `used` counts. The count follows the billing cycle, not a rolling window."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/contacts/quota": {
      "get": {
        "tags": [
          "Numbers",
          "Contacts"
        ],
        "summary": "Get Contact Quota Nested",
        "description": "Return the contact quota state for the inbox identified by ``{alias}``.",
        "operationId": "get_contact_quota_nested_v1_numbers__alias__contacts_quota_get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactQuotaResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/contacts/{contact_id}": {
      "get": {
        "tags": [
          "Numbers",
          "Contacts"
        ],
        "summary": "Get Contact Nested",
        "description": "Retrieve a single contact of the number identified by ``{alias}``.",
        "operationId": "get_contact_nested_v1_numbers__alias__contacts__contact_id__get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public contact identifier (ct_ + 32 hex chars)",
              "examples": [
                "ct_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Contact Id"
            },
            "description": "Public contact identifier (ct_ + 32 hex chars)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/contacts/{contact_id}/profile-picture": {
      "get": {
        "tags": [
          "Numbers",
          "Contacts"
        ],
        "summary": "Get Contact Profile Picture Nested",
        "description": "Resolve the profile picture of a contact of the number identified by ``{alias}``.",
        "operationId": "get_contact_profile_picture_nested_v1_numbers__alias__contacts__contact_id__profile_picture_get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public contact identifier (ct_ + 32 hex chars)",
              "examples": [
                "ct_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Contact Id"
            },
            "description": "Public contact identifier (ct_ + 32 hex chars)"
          }
        ],
        "responses": {
          "302": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/contacts/{contact_id}/refresh": {
      "post": {
        "tags": [
          "Numbers",
          "Contacts"
        ],
        "summary": "Refresh Contact Nested",
        "description": "Queue a WhatsApp metadata refresh for a contact in inbox ``{alias}``.",
        "operationId": "refresh_contact_nested_v1_numbers__alias__contacts__contact_id__refresh_post",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public contact identifier (ct_ + 32 hex chars)",
              "examples": [
                "ct_0198d3c5a1b24d3e9f01a2b3c4d5e6f7"
              ],
              "title": "Contact Id"
            },
            "description": "Public contact identifier (ct_ + 32 hex chars)"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/groups": {
      "get": {
        "tags": [
          "Numbers",
          "Groups"
        ],
        "summary": "List Groups Nested",
        "description": "Return a cursor-paginated list of groups for the inbox ``{alias}``.",
        "operationId": "list_groups_nested_v1_numbers__alias__groups_get",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 100
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "include_left",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Left"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResponse"
                }
              }
            }
          },
          "422": {
            "description": "The request has a value that is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/numbers/{alias}/groups/{group_id}": {
      "get": {
        "tags": [
          "Numbers",
          "Groups"
        ],
        "summary": "Get Group Nested",
[...]
